.card {
	width: 350px;
	height: 250px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	margin: 5px 5px;
	overflow: hidden;
}

.card-image {
	width: 165px;
	height: 220px;
	margin: 15px 5px;
	border-radius: 8px;
}

.card-info {
	width: 165px;
	height: 220px;
	margin: 15px 5px;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-info small {
	text-transform: capitalize;
}

.green-color {
	background-color: lightgreen;
}

.yellow-color {
	background-color: yellow;
}

.red-color {
	background-color: red;
	color: white;
}

.card-button {
	width: 100%;
	height: 2rem;
	color: black;
	background-color: ghostwhite;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	font-size: 1.2em;
	cursor: pointer;
	box-shadow: 3px 3px 3px gray;
	text-decoration: none;
	transition: .3s background-color, 0s box-shadow;
}

.card-button:hover {
	background-color: #ee4540;
}

.card-button:active {
	box-shadow: none;
}