@font-face {
	font-family: Mission;
	src: url("./Font/Mission-Script.otf");
}

.header {
	max-height: 120px;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header-title {
	padding: 0 20px;
	margin: 15px;
	font-family: Mission;
	font-size: 3rem;
	color: black;
	border-left: 3px solid #27e8a7;
}

.header-category {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.header-category p {
	color: black;
	margin: 0 15px;
	font-family: sans-serif;
	font-size: 16px;
}

.header-category select {
	background-color: #e7e9eb;
	border: none;
	font-family: sans-serif;
}